@import url("https://fonts.googleapis.com/css2?family=Spartan:wgth@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 50px;
  line-height: 64px;
  color: #000000;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;

  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 46px 0;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000000;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #524444;
  background-color: transparent;

  cursor: pointer;
  border: 1px solid rgb(236, 130, 130);
  outline: none;
  transition: 0.2s;
}
body {
  width: 100%;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #465b52;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: rgb(236, 195, 141);
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #465b52;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}
#hero {
  background-image: url(https://github.com/Stoic-123/Movies-Rate/blob/main/photo_2023-03-27_14-29-03.jpg?raw=true);

  width: 90%;
  height: 90vh;
  background-size: cover;

  background-position: top 25% right 0;

  padding: 0 80px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#hero h4 {
  padding-bottom: 15px;
}
p {
  color: rgb(134, 132, 134);
}
#hero h2 {
  color: rgb(116, 116, 116);
}
#hero h1 {
  color: cadetblue;
}
#page-header {
  background-image: url(https://i.pinimg.com/originals/1c/f9/68/1cf968fbd51421e44992437a1588a095.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 14px;
}
#page-header p {
  color: rgb(95, 85, 72);
}
#page-header h2 {
  color: #473d3d;
}
#hero button {
  background-image: url("https://raw.githubusercontent.com/tech2etc/Build-and-Deploy-Ecommerce-Website/main/img/button.png");
  background-color: transparent;
  color: rgb(138, 103, 90);
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
.fe-box {
  background-color: rgb(253, 246, 235);
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: rgb(80, 77, 72);
  background-color: rgba(206, 191, 171, 0.582);
}
#feature .fe-box h6 :nth-child(2) {
  background-color: aqua;
}
#feature .fe-box h6 :nth-child(3) {
  background-color: rgb(66, 206, 206);
}
#feature .fe-box h6 :nth-child(4) {
  background-color: rgb(133, 181, 209);
}
#feature .fe-box h6 :nth-child(5) {
  background-color: rgb(173, 207, 174);
}
#feature .fe-box h6 :nth-child(6) {
  background-color: rgb(187, 138, 165);
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #afc2b2;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .desn span {
  color: burlywood;
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #000000;
  font-size: 14px;
}
#product1 .pro .des i {
  font-size: 12px;
  color: rgb(216, 238, 20);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: rgb(138, 120, 97);
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #cce7d0;
  font-weight: 500;
  color: rgb(129, 53, 68);
  border: 1px solid #afc2b2;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-image: url(https://i.pinimg.com/originals/1c/f9/68/1cf968fbd51421e44992437a1588a095.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: white;
  font-size: 16px;
}
#banner h2 {
  color: rgb(255, 237, 237);
  font-size: 40px;
  padding: 10px 0;
}
#banner h2 span {
  color: rgb(248, 31, 31);
}
#banner button:hover {
  background: #afc2b2;
  color: #ffffff;
}
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box {
  display: flex;

  flex-direction: column;
  background-image: url(https://github.com/Stoic-123/Movies-Rate/blob/main/photo_2023-03-28_12-36-37.jpg?raw=true);
  min-width: 540px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}
#sm-banner h4 {
  color: #bd7b7b;
  font-size: 20px;
  font-weight: 300;
}
#k8 {
  color: #7a6060;
  font-size: 28px;
  font-weight: 800;
}
#sm-banner span {
  color: #ac9c9c;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-banner .banner-box:hover button {
  background: #f0c5c5;
  color: #836d6d;
}
#sm-banner h3 {
  color: #fdfffd;
  font-size: 20px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sm-banner .banner-box1 {
  display: flex;

  flex-direction: column;
  background-image: url(https://cdn271.picsart.com/215c2cb6-6071-485f-974d-daef6e20d695/417680863009201.jpg?to=crop&type=webp&r=1008x549&q=85);
  min-width: 540px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}
#sm-banner .banner-box1:hover button {
  background: #f0c5c5;
  color: #f00000;
}
#k9 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 800;
}
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box {
  display: flex;

  flex-direction: column;
  background-image: url(https://github.com/Stoic-123/Movies-Rate/blob/main/photo_2023-03-28_21-02-22.jpg?raw=true);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner-box2 {
  background-image: url(https://github.com/Stoic-123/Movies-Rate/blob/main/photo_2023-03-29_11-01-10.jpg?raw=true);
}
#banner3 .banner-box3 {
  background-image: url(https://github.com/Stoic-123/Movies-Rate/blob/main/photo_2023-03-29_11-22-50.jpg?raw=true);
}
#banner3 h4 {
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 15px;
}
.l0 {
  font-weight: 900;
  font-size: 22px;
  color: #e08989;
}
#ko1 {
  font-weight: 900;
  font-size: 22px;
  color: #000000;
}
#ko2 {
  font-weight: 900;
  font-size: 22px;
  color: #473d3d;
}
#newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: rgb(48, 75, 124);
}
.newstext p {
  color: #f0b3b3;
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #cce7d0;
}
#newsletter span {
  color: rgb(136, 255, 18);
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: #656b66;
  color: #ffffff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#newsletter .form {
  display: flex;
  width: 40%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-right: 30px;
}
footer .logo {
  margin-bottom: 30px;
  height: 30px;
  width: 140px;
  padding-right: 20px;
}
footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: #524444;
  padding-right: 4px;
  cursor: pointer;
}
footer .payment img {
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a {
  color: #c48383;
}
footer .CopyRight {
  width: 100%;
  text-align: center;
}
#close {
  display: none;
}
#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: #817171;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}
#prodetails .single-pro-img {
  width: 40%;
  margin-right: 50px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails {
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}
#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2 {
  font-size: 26px;
}
#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details button {
  background: #836d6d;
  color: white;
}
#prodetails .single-pro-details input:focus {
  outline: none;
}
#prodetails .single-pro-details span {
  line-height: 25px;
}
@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: azure;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #524444;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 24px;
    color: #000000;
    display: initial;
  }
  #lg-bag {
    display: none;
  }
  #hero h4 {
    font-size: 30px;
  }
  #hero h2 {
    color: rgb(179, 148, 108);
  }
  #hero p {
    font-size: 20px;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 20%;
  }
  #feature {
    justify-content: center;
  }
  #feature .fe-box {
    margin: 15px 15px;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
  }
  #banner {
    height: 20vh;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }
  #banner3 {
    padding: 0 40px;
  }
  #banner3 .banner-box {
    width: 28%;
  }
  .l0 {
    font-size: 17px;
  }
  #newsletter .form {
    width: 70%;
  }
}
@media (max-width: 477px) {
  #header {
    padding: 10px 30px;
  }
  #hero {
    padding: 0 20px;
    background-position: 83%;
  }
  #hero h2 {
    color: #2ead76;
    font-size: 32px;
  }
  #hero h1 {
    font-size: 38px;
  }
  #hero p {
    color: #e08989;
  }
  .section-p1 {
    padding: 20px;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }
  #feature {
    justify-content: space-between;
  }
  #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #sm-banner .banner-box {
    height: 30vh;
  }
  #sm-banner .banner-box1 {
    margin-top: 20px;
  }
  #banner3 {
    padding: 0 20px;
  }
  #banner3 .banner-box {
    width: 100%;
  }
  #newsletter .form {
    width: 100%;
  }
  #newsletter {
    padding: 40px 20px;
  }

  #prodetails {
    display: flex;
    flex-direction: column;
  }
  #prodetails .single-pro-img {
    width: 100%;
    margin-right: 0px;
  }
}
